body {
    margin: 0; padding: 0; background-color: #000;
}

/* container div med det store image */
#imgcontainer {
    margin: auto; padding: 60px 30px;

}

#imgcontainer img {
    display: block;
    margin: auto; border: 1px solid #fff;
}

/* container-div omkring alt det, som skal skubbes frem og tilbage (div med pile + div med thumbs) */
#imgmenucontainer {
    position: absolute; top: 0; left: 0; width: 180px; border-radius: 5px; background-color: rgba(255,255,255,.1);
}

/* div med de 2 pile */
#imgpusher {
    position: absolute;
    top: 0; left: 190px; 
}
#imgpusher #right  {
    display: none;
}

#imgmenu {
    box-sizing: border-box; padding: 15px; border-radius: 5px;

}

#imgmenu img {
    display: block;
    margin: 20px 0; border: 1px solid #fff; cursor: pointer;
}